<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <appSettings>
    <add key="SEGMENT_SIZE" value="1"/>
    <add key="DESTINY_FOLDER" value="D:\BHPB\03.1 - Zip Files"/>
    <add key="PROJECTS_FOLDER" value="D:\BHPB\02.6 - Done to Be Zipped "/>
    <add key="WINRAR_DIRECTORY" value="C:\Program Files\WinRAR\WinRAR.exe"/>
    <add key="LOG_NAME" value="Zipper Events"/>
    <add key="SOURCE" value="FileZipper"/>
  </appSettings>
</configuration>
