<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
    </startup>
  <appSettings>
    <add key="SEGMENT_SIZE" value="1"/>
    <add key="DESTINY_FOLDER" value="D:\TESTE_ZIP"/>
    <add key="PROJECTS_FOLDER" value="D:\TESTE_ZIP"/>
    <add key="WINRAR_DIRECTORY" value="C:\Program Files\WinRAR\WinRAR.exe"/>
  </appSettings>
</configuration>
